@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }
body {
  @apply bg-slate-50 text-slate-900;
  background-image: 
    radial-gradient(at 40% 20%, hsla(228,100%,74%,0.15) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,0.15) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(340,100%,76%,0.15) 0px, transparent 50%);
  background-attachment: fixed;
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
